:root{
    --primary-color: #f5f3e3;
    --secondary-color: #2e2e2e;
    --detail1-color: #e6c455;
    --card-bg-color: rgba(0, 0, 0, 0.8);
    --detail2-color: #f5f3e3c5;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


body {
    font-family:  'Playfair Display', 'Times New Roman',sans-serif;
    background-color: var(--primary-color);
}

header {
    position: fixed;
    width: 100%;
    color: var(--primary-color);   
}

header h1 {
    font-size: 1rem;
    text-transform: uppercase;
}

nav {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

nav ul {
    display: flex;
}

nav ul li a, nav a:visited, nav a:link {
    color: var(--primary-color);
    text-decoration: none;
    padding: 1rem;
}

nav ul li:hover {
    font-size: 105%;
    opacity: 1;
    border: .13rem solid;
    letter-spacing: 0.15rem;
    border-color: var(--primary-color);
    border-radius: .7rem;
    transition: 0.75s;
}

.drawer {
    color: var(--primary-color);
    float: left;
    cursor: pointer;
    display: none;
    margin-left: 1rem;
    border: solid 0.1rem var(--primary-color);
    padding: .2rem;
    border-radius: .1rem;
}

#ckbox {
    display: none;
}

/* seccion tarjeta contacto*/
.seccTarjetaCont {
    color: var(--primary-color);
    text-decoration: none;
    background-image: url(../img/marmol-bg.jpg);
    background-repeat: none;
    background-size: cover;
    align-content: center;  
    padding: 19rem;
    padding-top: 10rem;
    padding-bottom: 6rem;
    border-bottom: var(--secondary-color) solid;
    
}

.seccTarjetaCont div:hover {
    margin: 0.5rem;
    transition: 0.75s;
}

.seccTarjetaCont div {
    
    padding: 1rem;
    display: flex;
    background-color: var(--card-bg-color);
    align-items: flex;
    border-radius: 1rem;
    transition: margin 0.75s;
}

.seccTarjetaCont div img {
    margin: 1rem;
    border-radius: 0.5rem;
    border: .2rem solid;
    align-self: center;
    width: 30%;
    height: 30%;
}

.seccTarjetaCont div table {
    font-size: 100%;
    text-align: left;
}

.seccTarjetaCont div table thead{
    font-size: 160%;
}
.seccTarjetaCont h1 {
    font-size: 200%;
    
}

.seccTarjetaCont h2 {
    font-size: 110%;
    padding-bottom: 1rem;
    border-bottom: .1rem solid;
    border-color: var(--primary-color);
}
.seccTarjetaCont div table tr td {
    padding: 1rem;
}





.seccTarjetaCont a:visited, .seccTarjetaCont a:link {
    color: var(--detail1-color);
    text-decoration: none;
}

/* seccion Aboutme*/
.seccAboutMe {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.seccAboutMe div{
    margin: auto;
    padding-top: 10rem;
    padding: 2%;
    width: 50%;
    border: .1rem solid;
    border-radius: .5rem;
    transition: all 1.3s;
    text-align: justify;
}
.seccAboutMe h1{
    text-align: right;
}

.seccAboutMe div:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: 0.7s;
}

.seccAboutMe div:hover h1{
    
    color: var(--primary-color);
    transition: .7s
}

.seccAboutMe p, .seccAboutMe h2  {
    color: var(--secondary-color);
}


/*Ajustes responsive design*/
@media(max-width:1280px) {
    
    .seccTarjetaCont {
        padding: 6rem;
        padding-top: 10rem;
        padding-bottom: 6rem;
      }

    .seccTarjetaCont div {
        flex-direction: column;
        align-items: center;
      }

      .seccTarjetaCont div img {
        margin: 1rem;
        border-radius: 0.5rem;
        border: .2rem solid;
        align-self: center;
        width: 100%;
        height: auto
      }

    .seccTarjetaCont div table {
        text-align: left;
        border-spacing: 2rem;
    }
}


@media(max-width:992px) {
    nav {
        justify-content: flex-start;
    }
    .drawer {
        display: block;
        margin-left: auto;
    }
    nav h1 {
        margin-left: 1rem;
    }
    ul {
        position: fixed;
        width: 100%;
        height: auto;
        background-color: var(--secondary-color);
        top: 7vh;
        left: -100%;
        text-align: left;
        transition: all .75s;
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    nav ul li {
        display: flex;
        flex-direction: column;
        padding-left: .8rem;
    }
    #ckbox:checked~.menu-box {
        left: 0;
    }
}