
@import url(style.css);

/* Seccion Projects */
.secc-projects {
    background-image: url(../img/marmol-bg.JPG);
    background-repeat: none;
    background-size: cover;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.secc-projects > div {
    margin: 0 auto;
}

.secc-projects .proj-title{
    width: 50%;
    border-bottom: .1rem solid;
    justify-items: left;
    justify-self: center;
    padding-bottom: .4rem;
    color: var(--secondary-color);
    transition: all .5s;   
}

.proj-title a,
.proj-title a:link,
.proj-title a:visited {
    text-decoration: none;
    color: var(--secondary-color);
    transition: all .5s;
}

.proj-title:hover {
    background-color: var(--card-bg-color);
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    transition: all .5s;
}

.proj-title:hover h1 {
    color: var(--primary-color);
}


.secc-projects .proj-boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: all .5s;
}



.secc-projects .proj-boxes div {
    margin: 1rem;
    width: 15rem;
    height: 19rem;
    align-content: end;
    align-items: center;
    color: transparent;
    border: .15rem solid;
    border-color: transparent;
    border-radius: 0.5rem;
    transition: all 0.5s;
    
}

.secc-projects .proj-boxes div p {
    border-radius: .5rem;
    transition: all 0.5s;
}

.secc-projects .proj-boxes div:hover {
    border-color: var(--secondary-color);
    transition: all 0.5s;
}

.secc-projects .proj-boxes div:hover,
.secc-projects .proj-boxes div:hover p {
    margin: .8rem;
    padding: .5rem;
    transition: all 0.5s;
}

.secc-projects .proj-boxes div:hover p {
    margin: 0.5rem;
    color: var(--primary-color);
    background-color: var(--card-bg-color);
    border-radius: 0.3rem;
}

.secc-projects .proj-breakingbad {
    background-image: url(../img/breaking-bad.png);
    background-size: cover;
}

.secc-projects .proj-esports {
    background-image: url(../img/eSports.png);
    background-size: cover;
}

.secc-projects .proj-localboostly {
    background-image: url(../img/web-develop.png);
    background-size: cover;
}
