
@import url(style.css);

/* Seccion Resume */
.secc-resume {
    background-image: url(../img/marmol-bg.jpg);
    border-bottom: .1rem solid;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-items: left;
    padding-top: 5rem;
    padding-bottom: 4rem;
    width: 100%;
    color: var(--primary-color);
}

.secc-resume > .resume-main-container {
    width: 80%;
    margin: 0 auto;
}

.secc-resume > .resume-main-container > div {
    background-color: var(--card-bg-color);
    width: 100%;
    margin-bottom: 1rem; 
    padding: 3rem;
    padding-bottom: 1.5rem;
    border-radius: .5rem;
    justify-self: center;
    text-align: justify;
}

.secc-resume > .resume-main-container > div > h2 {
    border-bottom: .1rem solid;
    border-color: var(--primary-color);
    margin-bottom: 1rem;
}

.secc-resume > .resume-main-container > div > h3 {
    margin-bottom: .5rem;
}

.secc-resume ul{
    display: flex;
    flex-direction: column;
    gap: .4rem;
    margin-bottom: 2rem;
    
}
.secc-resume ul > li{
    margin-left: 2rem;
    list-style: square;
}


@media (max-width: 1300px) {
    .secc-resume > .resume-main-container {
        width: 85%;
    }
}

@media (max-width: 1024px) {
}
 
@media (max-width: 768px) {
    .secc-resume > .resume-main-container {
        width: 90%;
    }

    .secc-resume > .resume-main-container > div {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        text-align: left;
    }

}

@media (max-width: 480px) {
}